# Moose / Aurora / Cursor folders
.moose
.aurora
.cursor

# Node
node_modules
dist
coverage
.ts-node

# Migration temporary files
temp_migration/
*.parquet
*_events.json
*_data.json

prod-migration.env
.vercel
